<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sud.bhatt.androidarchitecture">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidArchitecture">
        <activity
            android:name=".mvvm.MVVMActivity"
            android:label="@string/title_activity_m_v_v_m"
            android:theme="@style/Theme.AndroidArchitecture.NoActionBar"></activity>
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".mvc.MVCActivity" />
        <activity android:name=".ArchitectureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>